.button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

/* Variants */
.primary {
  background: #2563eb;
  color: white;
}

.primary:hover {
  background: #1e40af;
}

.secondary {
  background: #e5e7eb;
  color: black;
}

.secondary:hover {
  background: #d1d5db;
}

.danger {
  background: #dc2626;
  color: white;
}

.danger:hover {
  background: #991b1b;
}